 <article class="resy-details">
    <div class="details">
      <h3>{{@reservation.name}}</h3>
      <div class="detail owner">
        <span>Confirmation Number:</span> {{@reservation.id}}
      </div>
      <div class="detail type">
        <span>Date:</span> {{@reservation.date}}
      </div>
      <div class="detail location">
        <span>Time:</span> {{@reservation.time}}
      </div>
      <div class="detail bedrooms">
        <span>Number of guests:</span> {{@reservation.number}}
      </div>
    </div>
  </article>